<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../public/css/xzl_index.css"/>
    <link href="../../public/css/xzl_pic.css" rel="stylesheet">
    <link href="../../public/css/ljx_index.css" rel="stylesheet">
    <script src="../../public/js/ljx_index.js"></script>
</head>
<body>

    {%include "../ljx/head.html"%}

    <div style="height: 2000px;margin-top: 117px;">
        <div class="container-fluid" id="dd" style="width: 100%;height: 100px;">
            <div id="mm2">
                <a id="cc" href="#">
                    <div class="icon-burger2 icon-burger-1"></div>
                    <div class="icon-burger2 icon-burger-2" style="top: 39px;"></div>
                    <div class="icon-burger2 icon-burger-3" style="top: 47px;"></div></a></div>
            <a href="/" class="logo2"><img src="../../public/images/logo-scrolled.png" class="img-responsive2"/></a>
            <a href="#" class="search-btn2"><img src="../../public/images/icon-search.png" class="icon icon-search2"/></a>
            <div id="cd2" style="margin-left: -15px;margin-top:5px;">
                <ul>
                    <li><div class="lines"></div></li>
                    <li><a href="#">主页</a></li>
                    <li><div class="lines"></div></li>
                    <li><a href="#">干邑系列</a></li>
                    <li><div class="lines" ></div></li>
                    <li><a href="#" >轩尼诗世家</a></li>
                    <li><div class="lines" ></div></li>
                    <li><a href="#" >创意特饮</a></li>
                    <li><div class="lines" ></div></li>
                    <li><a href="#" >新闻</a></li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div id="tt">
                <ol class="breadcrumb">
                    <li><a href="/">主页</a></li>
                    <li><a href="#">干邑系列</a></li>
                </ol>
                <h1 class="title">轩尼诗系列</h1>
            </div>
        </div>

        <div class="container-fluid">
            <ul class="nav collection-controller">
                <li id="co1"><a href="#"><img src="../../public/images/icon-tab-slider.png"/></a></li>
                <li id="co2"><a href="#"><img src="../../public/images/icon-tab-grid.png"/></a></li>
            </ul>
        </div>

        <div class="demo" style="display: block;" id="demo1">
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 2s normal forwards;-webkit-animation:move 2s normal forwards;">
                    <img src="../../public/images/classium-main2.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="margin-left: -60px;">新点干邑</h3>
                            <span class="post" style="position: relative;left:-35px;">以非凡传统工艺精制的轩尼诗新点干邑</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 2.5s normal forwards;-webkit-animation:move 2.5s normal forwards;">
                    <img src="../../public/images/hennessy-vsop_8.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:-50px;">轩尼诗V.S.O.P特別珍藏版</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 3s normal forwards;-webkit-animation:move 3s normal forwards;">
                    <img src="../../public/images/james_hennessy_3_1_4.png">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2">詹姆士轩尼诗 JAMES HENNESSY干邑</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 2s normal forwards;-webkit-animation:move 2s normal forwards;">
                    <img src="../../public/images/hennessy-xo_8.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:-100px;">轩尼诗X.O</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 2.5s normal forwards;-webkit-animation:move 2.5s normal forwards;">
                    <img src="../../public/images/370x495_pi_3.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:13px;">轩尼诗百乐廷皇禧</h3>
                            <span class="post" style="position: relative;left:13px;">轩尼诗百乐廷皇禧能够成为由250年卓越工艺孕酿的珍品，全赖费尔沃（Fillioux）家族的七代酿酒大师。</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 3s normal forwards;-webkit-animation:move 3s normal forwards;">
                    <img src="../../public/images/new_1.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:-80px;">轩尼诗百乐廷干邑</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="position:relative;top:225px;left:0;animation:move 2s normal forwards;-webkit-animation:move 2s normal forwards;">
                    <img src="../../public/images/370x495_rh.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:13px;">轩尼诗李察</h3>
                            <span class="post" style="position: relative;left:13px;">轩尼诗李察干邑专为顶级干邑的鉴赏家而作，犹如一场鲜花绽放的盛会，使往昔与今日聚首相会。这款至高无上的极品之作，是250年的历史、天才、知识、技艺与热情的结晶，凝聚着干邑的终极追求。</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="width: 224px;margin-left: 10.6%;position:relative;top:225px;left:0;animation:move 2.5s normal forwards;-webkit-animation:move 2.5s normal forwards;">
                    <img src="../../public/images/xo-bottle_17.png">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:13px;">轩尼诗X.O Marc Newson限量版</h3>
                            <span class="post" style="position: relative;left:13px;">酒瓶的设计独树一帜，如同现代建筑一般，彰显瓶内佳酿自1870年以来未曾改变的风格，同时引领轩尼诗X.O至现代美学前沿。Marc Newson表示：“能够设计轩尼诗X.O这样的经典，令我既感到荣幸，也有点生畏。显然，这款佳酿超越了时代，展现具有当代风格的恒久魅力。”这位设计师尝试探索全新的感官境界，他亦表示：“轩尼诗X.O酒瓶拥有美妙的基本形状。我希望透过此次设计，尽量突显这款杰作的色彩和感官特色。”</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="demo" style="display: none;" id="demo2">
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 2s normal forwards;-webkit-animation:move 2s normal forwards;display: block;" id="i1">
                    <img src="../../public/images/classium-main2.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="margin-left:-60px;">新点干邑</h3>
                            <span class="post" style="position: relative;left:-35px;">以非凡传统工艺精制的轩尼诗新点干邑</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 2.5s normal forwards;-webkit-animation:move 2.5s normal forwards;display: none;" id="i2">
                    <img src="../../public/images/hennessy-vsop_8.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:-50px;">轩尼诗V.S.O.P特別珍藏版</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 3s normal forwards;-webkit-animation:move 3s normal forwards;display: none;" id="i3">
                    <img src="../../public/images/james_hennessy_3_1_4.png">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2">詹姆士轩尼诗 JAMES HENNESSY干邑</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 2s normal forwards;-webkit-animation:move 2s normal forwards;display: none;" id="i4">
                    <img src="../../public/images/hennessy-xo_8.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:-100px;">轩尼诗X.O</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 2.5s normal forwards;-webkit-animation:move 2.5s normal forwards;display: none;" id="i5">
                    <img src="../../public/images/370x495_pi_3.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:13px;">轩尼诗百乐廷皇禧</h3>
                            <span class="post" style="position: relative;left:13px;">轩尼诗百乐廷皇禧能够成为由250年卓越工艺孕酿的珍品，全赖费尔沃（Fillioux）家族的七代酿酒大师。</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 3s normal forwards;-webkit-animation:move 3s normal forwards;display: none;" id="i6">
                    <img src="../../public/images/new_1.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:-80px;">轩尼诗百乐廷干邑</h3>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="margin-left:480px;position:relative;top:225px;left:0;animation:move 2s normal forwards;-webkit-animation:move 2s normal forwards;display: none;" id="i7">
                    <img src="../../public/images/370x495_rh.jpg">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:13px;">轩尼诗李察</h3>
                            <span class="post" style="position: relative;left:13px;">轩尼诗李察干邑专为顶级干邑的鉴赏家而作，犹如一场鲜花绽放的盛会，使往昔与今日聚首相会。这款至高无上的极品之作，是250年的历史、天才、知识、技艺与热情的结晶，凝聚着干邑的终极追求。</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="box" style="width: 224px;margin-left:42.3%;position:relative;top:225px;left:0;animation:move 2.5s normal forwards;-webkit-animation:move 2.5s normal forwards;display: none;" id="i8">
                    <img src="../../public/images/xo-bottle_17.png">
                    <div class="box-content">
                        <div class="inner-content">
                            <h3 class="title2" style="position: relative;left:13px;">轩尼诗X.O Marc Newson限量版</h3>
                            <span class="post" style="position: relative;left:13px;">酒瓶的设计独树一帜，如同现代建筑一般，彰显瓶内佳酿自1870年以来未曾改变的风格，同时引领轩尼诗X.O至现代美学前沿。Marc Newson表示：“能够设计轩尼诗X.O这样的经典，令我既感到荣幸，也有点生畏。显然，这款佳酿超越了时代，展现具有当代风格的恒久魅力。”这位设计师尝试探索全新的感官境界，他亦表示：“轩尼诗X.O酒瓶拥有美妙的基本形状。我希望透过此次设计，尽量突显这款杰作的色彩和感官特色。”</span>
                        </div>
                    </div>
                </div>
            </a>
            <p id="left"><img src="../../public/images/arrow-slide-left.png"/></p>
            <p id="right"><img src="../../public/images/arrow-slide-right.png"/></p>
            <div class="spot">
                <ul id="spot">
                    <li class="flex-active" id="c1"><a></a></li>
                    <li class="flex-unactive" id="c2"><a></a></li>
                    <li class="flex-unactive" id="c3"><a></a></li>
                    <li class="flex-unactive" id="c4"><a></a></li>
                    <li class="flex-unactive" id="c5"><a></a></li>
                    <li class="flex-unactive" id="c6"><a></a></li>
                    <li class="flex-unactive" id="c7"><a></a></li>
                    <li class="flex-unactive" id="c8"><a></a></li>
                </ul>
            </div>
        </div>
    </div>


    {%include '../ljx/foot.html'%}

<script>
    var co1=document.getElementById("co1");
    var co2=document.getElementById("co2");
    var demo1=document.getElementById("demo1");
    var demo2=document.getElementById("demo2");
    var nn=document.getElementById("nn");
    var tt=document.getElementById("tt");
    var dd=document.getElementById("dd");
    var c1=document.getElementById("c1");
    var c2=document.getElementById("c2");
    var c3=document.getElementById("c3");
    var c4=document.getElementById("c4");
    var c5=document.getElementById("c5");
    var c6=document.getElementById("c6");
    var c7=document.getElementById("c7");
    var c8=document.getElementById("c8");
    var i1=document.getElementById("i1");
    var i2=document.getElementById("i2");
    var i3=document.getElementById("i3");
    var i4=document.getElementById("i4");
    var i5=document.getElementById("i5");
    var i6=document.getElementById("i6");
    var i7=document.getElementById("i7");
    var i8=document.getElementById("i8");
    var index=1;
    var spot=document.getElementById("spot");
    var left=document.getElementById("left");
    var right=document.getElementById("right");
    var mm=document.getElementById("mm");
    var mm2=document.getElementById("mm2");
    var cd=document.getElementById("cd");
    var cd2=document.getElementById("cd2");
    var flag=true;
    mm.onmouseup=function(){
        setTimeout(function () {
            if(flag){
                cd.style.display='block';
                cd2.style.display='none';
                cd.style.left=0;
            }else{
                cd.style.display='none';
                cd2.style.display='none';
            }
            },100);
        flag=!flag;
    };
    mm2.onmouseup=function(){
        setTimeout(function () {
            if(flag){
                cd.style.display='none';
                cd2.style.display='block';
                cd2.style.left=0;
            }else{
                cd.style.display='none';
                cd2.style.display='none';
            }
        },100);

        flag=!flag;
    };
    co1.onmouseup=function () {
        demo1.style.display='none';
        demo2.style.display='block';
    };
    co2.onmouseup=function () {
        demo2.style.display='none';
        demo1.style.display='block';
    };
    window.addEventListener('scroll',function(){
            nn.style.display='none';
            dd.style.display='block';
            tt.style.position='relative';
            tt.style.top='127px';
        //cd.style.display='none';
        //cd2.style.display='none';
    },false);
    c1.onmouseup=function () {
        index=1;
            c1.className='flex-active';
            c2.className='flex-unactive';
            c3.className='flex-unactive';
            c4.className='flex-unactive';
            c5.className='flex-unactive';
            c6.className='flex-unactive';
            c7.className='flex-unactive';
            c8.className='flex-unactive';
            i1.style.display='block';
            i2.style.display='none';
            i3.style.display='none';
            i4.style.display='none';
            i5.style.display='none';
            i6.style.display='none';
            i7.style.display='none';
            i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c2.onmouseup=function () {
        index=2;
            c2.className='flex-active';
            c1.className='flex-unactive';
            c3.className='flex-unactive';
            c4.className='flex-unactive';
            c5.className='flex-unactive';
            c6.className='flex-unactive';
            c7.className='flex-unactive';
            c8.className='flex-unactive';
        i2.style.display='block';
        i1.style.display='none';
        i3.style.display='none';
        i4.style.display='none';
        i5.style.display='none';
        i6.style.display='none';
        i7.style.display='none';
        i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c3.onmouseup=function () {
        index=3;
            c3.className='flex-active';
            c2.className='flex-unactive';
            c1.className='flex-unactive';
            c4.className='flex-unactive';
            c5.className='flex-unactive';
            c6.className='flex-unactive';
            c7.className='flex-unactive';
            c8.className='flex-unactive';
        i3.style.display='block';
        i2.style.display='none';
        i1.style.display='none';
        i4.style.display='none';
        i5.style.display='none';
        i6.style.display='none';
        i7.style.display='none';
        i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c4.onmouseup=function () {
        index=4;
            c4.className='flex-active';
            c2.className='flex-unactive';
            c3.className='flex-unactive';
            c1.className='flex-unactive';
            c5.className='flex-unactive';
            c6.className='flex-unactive';
            c7.className='flex-unactive';
            c8.className='flex-unactive';
        i4.style.display='block';
        i2.style.display='none';
        i3.style.display='none';
        i1.style.display='none';
        i5.style.display='none';
        i6.style.display='none';
        i7.style.display='none';
        i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c5.onmouseup=function () {
        index=5;
            c5.className='flex-active';
            c2.className='flex-unactive';
            c3.className='flex-unactive';
            c4.className='flex-unactive';
            c1.className='flex-unactive';
            c6.className='flex-unactive';
            c7.className='flex-unactive';
            c8.className='flex-unactive';
        i5.style.display='block';
        i2.style.display='none';
        i3.style.display='none';
        i4.style.display='none';
        i1.style.display='none';
        i6.style.display='none';
        i7.style.display='none';
        i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c6.onmouseup=function () {
        index=6;
            c6.className='flex-active';
            c2.className='flex-unactive';
            c3.className='flex-unactive';
            c4.className='flex-unactive';
            c5.className='flex-unactive';
            c1.className='flex-unactive';
            c7.className='flex-unactive';
            c8.className='flex-unactive';
        i6.style.display='block';
        i2.style.display='none';
        i3.style.display='none';
        i4.style.display='none';
        i5.style.display='none';
        i1.style.display='none';
        i7.style.display='none';
        i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c7.onmouseup=function () {
        index=7;
            c7.className='flex-active';
            c2.className='flex-unactive';
            c3.className='flex-unactive';
            c4.className='flex-unactive';
            c5.className='flex-unactive';
            c6.className='flex-unactive';
            c1.className='flex-unactive';
            c8.className='flex-unactive';
        i7.style.display='block';
        i2.style.display='none';
        i3.style.display='none';
        i4.style.display='none';
        i5.style.display='none';
        i6.style.display='none';
        i1.style.display='none';
        i8.style.display='none';
        if(i8.style.class='flex-active'){
            spot.style.position='relative';
            spot.style.left='0px';
        }
    };
    c8.onmouseup=function () {
        index=8;
        if(i8.style.class='flex-unactive'){
            spot.style.position='relative';
            spot.style.left='40px';
        }
            c8.className='flex-active';
            c2.className='flex-unactive';
            c3.className='flex-unactive';
            c4.className='flex-unactive';
            c5.className='flex-unactive';
            c6.className='flex-unactive';
            c7.className='flex-unactive';
            c1.className='flex-unactive';
        i8.style.display='block';
        i2.style.display='none';
        i3.style.display='none';
        i4.style.display='none';
        i5.style.display='none';
        i6.style.display='none';
        i7.style.display='none';
        i1.style.display='none';
    };

left.onmouseup=function () {
    switch (index) {
        case 1:
            c8.className='flex-active';
            c1.className='flex-unactive';
            i8.style.display='block';
            i1.style.display='none';
            index=8;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='40px';
            }
            break;
        case 2:
            c1.className='flex-active';
            c2.className='flex-unactive';
            i1.style.display='block';
            i2.style.display='none';
            index=1;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;
        case 3:
            c2.className='flex-active';
            c3.className='flex-unactive';
            i2.style.display='block';
            i3.style.display='none';
            index=2;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;
        case 4:
            c3.className='flex-active';
            c4.className='flex-unactive';
            i3.style.display='block';
            i4.style.display='none';
            index=3;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;
        case 5:
            c4.className='flex-active';
            c5.className='flex-unactive';
            i4.style.display='block';
            i5.style.display='none';
            index=4;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;
        case 6:
            c5.className='flex-active';
            c6.className='flex-unactive';
            i5.style.display='block';
            i6.style.display='none';
            index=5;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;
        case 7:
            c6.className='flex-active';
            c7.className='flex-unactive';
            i6.style.display='block';
            i7.style.display='none';
            index=6;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;
        case 8:
            c7.className='flex-active';
            c8.className='flex-unactive';
            i7.style.display='block';
            i8.style.display='none';
            index=7;
            if(i8.style.class='flex-active'){
                spot.style.position='relative';
                spot.style.left='0px';
            }
            break;

    }
};

    right.onmouseup=function () {
        switch (index) {
            case 1:
                c2.className='flex-active';
                c1.className='flex-unactive';
                i2.style.display='block';
                i1.style.display='none';
                index=2;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
            case 2:
                c3.className='flex-active';
                c2.className='flex-unactive';
                i3.style.display='block';
                i2.style.display='none';
                index=3;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
            case 3:
                c4.className='flex-active';
                c3.className='flex-unactive';
                i4.style.display='block';
                i3.style.display='none';
                index=4;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
            case 4:
                c5.className='flex-active';
                c4.className='flex-unactive';
                i5.style.display='block';
                i4.style.display='none';
                index=5;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
            case 5:
                c6.className='flex-active';
                c5.className='flex-unactive';
                i6.style.display='block';
                i5.style.display='none';
                index=6;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
            case 6:
                c7.className='flex-active';
                c6.className='flex-unactive';
                i7.style.display='block';
                i6.style.display='none';
                index=7;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
            case 7:
                c8.className='flex-active';
                c7.className='flex-unactive';
                i8.style.display='block';
                i7.style.display='none';
                index=8;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='40px';
                }
                break;
            case 8:
                c1.className='flex-active';
                c8.className='flex-unactive';
                i1.style.display='block';
                i8.style.display='none';
                index=1;
                if(i8.style.class='flex-active'){
                    spot.style.position='relative';
                    spot.style.left='0px';
                }
                break;
        }
    }
</script>
</body>
</html>