<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>闯出新点|新点</title>
   <link rel="stylesheet" href="../../public/css/xzl_xindian.css"/>
</head>
<body onscroll="scroll()">
<div id="head">
    <ul>
        <li id="a1"><a href="#" class="ac active" id="aa" style="color: #ccc;">发现新点<span id="s1"></span></a></li>
        <li id="a2"><a href="#" class="ac unactive" id="ab">闯出新点<span id="s2"></span></a></li>
        <li id="a3"><a href="#" class="ac unactive" id="ac">玩出新点<span id="s3"></span></a></li>
        <li id="a4"><a href="#" class="ac unactive" id="ad">趴么新点<span id="s4"></span></a></li>
        <li id="a5"><a href="#" class="ac unactive" id="ae">新点炫饮<span id="s5"></span></a></li>
    </ul>
    <div class="logo">
        <img src="../../public/images/navLogo.png"/>
    </div>
</div>
<a href="#ma" style="position:absolute;top:80%;left: 90%;position: fixed;display: none;" id="bt"><img src="../../public/images/backToTop.png"/></a>
<img src="../../public/images/brand-mobile-kv.jpg" style="width: 100%;height: 650px;" id="ma"/>
<div id="bk">
    <div id="na"><h1>发现新点</h1></div>
    <div id="txt">
        <ul>
            <li>轩尼诗HENNESSY是全球优质干邑酿造者，</li>
            <li style="margin-left: 85px">1765年创立于法国，</li>
            <li style="margin-left: 15px">轩尼诗家族在传承经典的同时力求创新，</li>
            <li style="margin-left: 33px">糅合法国干邑地区的“生命之水”，</li>
            <li style="margin-left: 83px">精致呈现轩尼诗新点，</li>
            <li style="margin-left: 77px">置身于时尚潮流最前沿。</li>
        </ul>
    </div>
    <div id="i1">
        <img src="../../public/images/b_70.jpg" id="j1"/>
        <div id="k1">
            <div id="dd"><h1>轩尼诗新点 70CL</h1></div>
        </div>
        <ul id="u1">
            <li>轩尼诗新点70CL口感层次丰富，随</li>
            <li>着各种软饮的兑入而更添回味，绝对</li>
            <li>是混搭高手。</li>
        </ul>
        <a href="#" id="b1">立即购买</a>
        <img src="../../public/images/footIcon2.png" id="jd1"/>
    </div>
</div>
<div id="bk2">
    <div id="i2">
        <img src="../../public/images/b_20.jpg" id="j2"/>
        <div id="k2">
            <div id="dc"><h1>轩尼诗新点 20CL</h1></div>
        </div>
        <ul id="u2">
            <li>轩尼诗新点20CL小绿瓶专为潮客们</li>
            <li>而设计，荧光绿的瓶身彰显年轻个</li>
            <li>性，小巧的体积任你随心携带，派对</li>
            <li>ALL THE TIME！</li>
        </ul>
        <a href="#" id="b2">立即购买</a>
        <img src="../../public/images/footIcon2.png" id="jd2"/>
    </div>

    <div id="cz">
        <p>干邑并非酿造</p>
        <p style="position: relative;left:40%;">而是创造</p>
        <div id="t1">
            <img src="../../public/images/info1.jpg" style="width: 106%;margin-left: -20px;"/>
            <h2>Cognac</h2>
            <h2>干邑白兰地</h2>
            <ul>
                <li>酒精浓度高于40度的酒即被称为烈酒，</li>
                <li>通常所说的白兰地，主要是指以葡萄为原</li>
                <li>料、经蒸馏浓缩制成的烈酒。但是，不是</li>
                <li>所有的白兰地都能被称之为干邑，只有在</li>
                <li>法国干邑镇——全世界优质干邑产区</li>
                <li>——生产的白兰地，并经过干邑生产监</li>
                <li>管组织认证的白兰地才可以称作干邑。</li>
            </ul>
        </div>
        <div id="t2">
            <img src="../../public/images/info2.jpg" style="width: 106%;margin-left: -20px;"/>
            <h2>Eau de Vie</h2>
            <h2>生命之水</h2>
            <ul>
                <li>为了确保干邑的香气达到至高且多元的境</li>
                <li>界，轩尼诗仅采用从四个产区精挑细选的</li>
                <li>生命之水，他们是大香槟区、小香槟区、</li>
                <li>波尔德里区和优质林区。荣幸中选的生命</li>
                <li>之水，有朝一日才能变成出类拔萃的轩尼</li>
                <li>诗干邑。</li>
            </ul>
        </div>
    </div>
</div>

<div id="xw">
    <div id="d1">
        <img src="../../public/images/wx_nowork_20170326.jpg"/>
        <h5>知道你觉得办公室无聊，不如</h5>
        <h5 style="margin-top: 5px;">一起来反转他吧！</h5>
        <div class="ll" style="width: 90%;margin-left: 5%;height: 2px;background-color: black;margin-top: 10px;"></div>
        <p style="margin-top: 10px;margin-left: 5%;font-size: 12px;">来啊！办公室潮人们！</p>
        <a href="#">点击查看</a>
        <img src="../../public/images/footWechat.png" style="width: 25px;height: 25px;margin-left:27%;margin-top: 13%;"/>
    </div>

    <div id="d2">
        <img src="../../public/images/footImg2_0_0.jpg"/>
        <h5>在穿越这件事上，最有发言</h5>
        <h5 style="margin-top: 5px;">权的都在这里！</h5>
        <div class="ll" style="width: 90%;margin-left: 5%;height: 2px;background-color: black;margin-top: 10px;"></div>
        <p style="margin-top: 10px;margin-left: 5%;font-size: 12px;">这…这…这居然是一扇传送任意门！</p>
        <a href="#">点击查看</a>
        <img src="../../public/images/footWechat.png" style="width: 25px;height: 25px;margin-left:27%;margin-top: 13%;"/>
    </div>

    <div id="d3">
        <img src="../../public/images/footImg1_0.jpg"/>
        <h5>有一家便利店，竟公然出</h5>
        <h5 style="margin-top: 5px;">售……</h5>
        <div class="ll" style="width: 90%;margin-left: 5%;height: 2px;background-color: black;margin-top: 10px;"></div>
        <p style="margin-top: 10px;margin-left: 5%;font-size: 12px;">整齐却死板无比的货架散发着性冷</p>
        <p style="margin-top: 2px;margin-left: 5%;font-size: 12px;">淡气息的灯光</p>
        <a href="#">点击查看</a>
        <img src="../../public/images/footWechat.png" style="width: 25px;height: 25px;margin-left:27%;margin-top: 5%;"/>
    </div>
</div>
<div style="width: 100%;height: 5px; background-color: #52da3F;"></div>

<div id="foot" style=" width: 100%; height: 510px;background-color: #000000;">
    <img src="../../public/images/footQc.png" style="margin-top: 5%;margin-left: 44.1%;"/>
    <p style="color:#52da3F;font-size: 12px;margin-left: 43.6%;margin-top: 1.5%;">关 注 轩 尼 诗 新 点 官 方 微 信</p>
    <div style="width: 15%;background-color:#52da3F;height: 2px;margin-left: 42.8%;margin-top: 1.5%; "></div>
    <img src="../../public/images/footLogo.png" style="width: 12.3%;height: 8%;margin-left: 44.1%;margin-top: 1.5%;"/>
    <img src="../../public/images/footIcon1.png" style="width: 36px;height:29.5px;margin-left: 46%;margin-top: 1.5%;"/>
    <img src="../../public/images/footIcon2.png" style="width: 36px;height:29.5px;margin-left: 2%;margin-top: 1.5%;"/>
    <p style="color: white;font-size: 14px;margin-left: 33%;margin-top:3%;">条款及条件&nbsp;·&nbsp;隐私权政策&nbsp;·&nbsp;请理性享用轩尼诗干邑&nbsp;·&nbsp;访问轩尼诗全球官网</p>
    <p style="color: white;font-size: 14px;margin-left: 28%;margin-top:1%;"> © 2016 酩悦轩尼诗帝亚吉欧洋酒（上海）有限公司版权所有. 保留一切权利 沪ICP备10018200号</p>
</div>
<script>
    var a1=document.getElementById("a1");
    var a2=document.getElementById("a2");
    var a3=document.getElementById("a3");
    var a4=document.getElementById("a4");
    var a5=document.getElementById("a5");
    var aa=document.getElementById("aa");
    var ab=document.getElementById("ab");
    var ac=document.getElementById("ac");
    var ad=document.getElementById("ad");
    var ae=document.getElementById("ae");
    var s1=document.getElementById("s1");
    var s2=document.getElementById("s2");
    var s3=document.getElementById("s3");
    var s4=document.getElementById("s4");
    var s5=document.getElementById("s5");
    var l=0,l2=0,l3=0,l4=0,l5=0;
    var bb1,bb2,bb3,bb4,bb5,bb6,bb7,bb8,bb9,bb0;
    function add(){
        clearInterval(bb2);
        bb1=setInterval(function () {
            l++;
            if(l>56){
                l=56;
                clearInterval(bb1);
            }
            s1.style.width=l+"px";
        },15);
    }
    function red(){
        clearInterval(bb1);
        bb2=setInterval(function () {
            l--;
            if(l<0){
                l=0;
                clearInterval(bb2);
            }
            s1.style.width=l+"px";
        },15);
    }
    a1.onmouseover=function () {
        add();
    };
    a1.onmouseout=function () {
        red();
    };
    a1.onmouseup=function () {
        aa.style.color="#ccc";
        ab.style.color="white";
        ac.style.color="white";
        ad.style.color="white";
        ae.style.color="white";
    };

    a2.onmouseover=function () {
        clearInterval(bb4);
        bb3=setInterval(function () {
            l2++;
            if(l2>56){
                l2=56;
                clearInterval(bb3);
            }
            s2.style.width=l2+"px";
        },15);
    };
    a2.onmouseout=function () {
        clearInterval(bb3);
        bb4=setInterval(function () {
            l2--;
            if(l2<0){
                l2=0;
                clearInterval(bb4);
            }
            s2.style.width=l2+"px";
        },15);
    };
    a2.onmouseup=function () {
        ab.style.color="#ccc";
        aa.style.color="white";
        ac.style.color="white";
        ad.style.color="white";
        ae.style.color="white";
    };

    a3.onmouseover=function () {
        clearInterval(bb6);
        bb5=setInterval(function () {
            l3++;
            if(l3>56){
                l3=56;
                clearInterval(bb5);
            }
            s3.style.width=l3+"px";
        },15);
    };
    a3.onmouseout=function () {
        clearInterval(bb5);
        bb6=setInterval(function () {
            l3--;
            if(l3<0){
                l3=0;
                clearInterval(bb6);
            }
            s3.style.width=l3+"px";
        },15);
    };
    a3.onmouseup=function () {
        ac.style.color="#ccc";
        ab.style.color="white";
        aa.style.color="white";
        ad.style.color="white";
        ae.style.color="white";
    };

    a4.onmouseover=function () {
        clearInterval(bb8);
        bb7=setInterval(function () {
            l4++;
            if(l4>56){
                l4=56;
                clearInterval(bb7);
            }
            s4.style.width=l4+"px";
        },15);
    };
    a4.onmouseout=function () {
        clearInterval(bb7);
        bb8=setInterval(function () {
            l4--;
            if(l4<0){
                l4=0;
                clearInterval(bb8);
            }
            s4.style.width=l4+"px";
        },15);
    };
    a4.onmouseup=function () {
        ad.style.color="#ccc";
        ab.style.color="white";
        ac.style.color="white";
        aa.style.color="white";
        ae.style.color="white";
    };

    a5.onmouseover=function () {
        clearInterval(bb0);
        bb9=setInterval(function () {
            l5++;
            if(l5>56){
                l5=56;
                clearInterval(bb9);
            }
            s5.style.width=l5+"px";
        },15);
    };
    a5.onmouseout=function () {
        clearInterval(bb9);
        bb0=setInterval(function () {
            l5--;
            if(l5<0){
                l5=0;
                clearInterval(bb0);
            }
            s5.style.width=l5+"px";
        },15);
    };
    a5.onmouseup=function () {
        ae.style.color="#ccc";
        ab.style.color="white";
        ac.style.color="white";
        ad.style.color="white";
        aa.style.color="white";
    };

    var j1=document.getElementById("j1");
    var k1=document.getElementById("k1");
    var u1=document.getElementById("u1");
    var b1=document.getElementById("b1");
    var jd1=document.getElementById("jd1");
    var j2=document.getElementById("j2");
    var k2=document.getElementById("k2");
    var u2=document.getElementById("u2");
    var b2=document.getElementById("b2");
    var jd2=document.getElementById("jd2");
    var t1=document.getElementById("t1");
    var t2=document.getElementById("t2");
    var d1=document.getElementById("d1");
    var d2=document.getElementById("d2");
    var d3=document.getElementById("d3");
    var bt=document.getElementById("bt");
    var scrollFunc = function (e) {
        e = e || window.event;
        if (e.wheelDelta) {
            if (e.wheelDelta > 0) { //当滑轮向上滚动时
                j1.style.transform="translateY(20px)";
                k1.style.transform="translateY(-20px)";
                u1.style.transform="translateY(-20px)";
                b1.style.transform="translateY(-20px)";
                jd1.style.transform="translateY(-20px)";
                j2.style.transform="translateY(20px)";
                k2.style.transform="translateY(-20px)";
                u2.style.transform="translateY(-20px)";
                b2.style.transform="translateY(-20px)";
                jd2.style.transform="translateY(-20px)";
                t1.style.transform="translateY(20px)";
                t2.style.transform="translateY(-40px)";
                d1.style.transform="translateY(20px)";
                d2.style.transform="translateY(20px)";
                d3.style.transform="translateY(20px)";
                bt.style.display="none";
            }
            if (e.wheelDelta < 0) { //当滑轮向下滚动时
                j1.style.transform="translateY(-20px)";
                k1.style.transform="translateY(20px)";
                u1.style.transform="translateY(20px)";
                b1.style.transform="translateY(20px)";
                jd1.style.transform="translateY(20px)";
                j2.style.transform="translateY(-20px)";
                k2.style.transform="translateY(20px)";
                u2.style.transform="translateY(20px)";
                b2.style.transform="translateY(20px)";
                jd2.style.transform="translateY(20px)";
                t1.style.transform="translateY(-20px)";
                t2.style.transform="translateY(20px)";
                d1.style.transform="translateY(-20px)";
                d2.style.transform="translateY(-20px)";
                d3.style.transform="translateY(-20px)";
                bt.style.display="block";
            }
        }
    };
    //给页面绑定滑轮滚动事件
    //滚动滑轮触发scrollFunc方法
    window.onmousewheel = document.onmousewheel = scrollFunc;
</script>
</body>
</html>