<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../../public/css/ljx_index.css">

</head>
<body>
<div id="enter">
    <div class="en_content">
        <img src="../../public/images/logo-age-gate.png" />
        <h1 class="caps">Discover the pursuit of passion, precision and perfection that defines Hennessy</h1>
        <form >
            <div class="select_Bir">
                <label class="select_label">YEAR OF BIRTH</label>
                <!--<input name="year" data-error="PLEASE, SELECT A YEAR" />-->
                <select  id="select-age">
                    <option value selected disabled>YEAR OF BIRTH</option>
                </select>
                <div class="form-list">
                    <ul id="form_ul"></ul>
                </div>

                <button class="sub" id="sub" type="button">Enter</button>

                <p class="form_attention">PLEASE, SELECT A YEAR</p>
                <p class="form_mention">
                    By clicking on « enter » I consent to the
                    <a href="" target="_blank"> Terms and Conditions of Use</a> and have read the
                    <a href="" target="_blank">Privacy & cookies notice</a>
                </p>
            </div>
        </form>
        <hr class="line" />
        <div  id="enter_footer">
            HENNESSY ENCOURAGES DRINKING RESPONSIBLY<br/>
            The abuse of alcohol is dangerous for your health.<br/>
            <a href="" target="_blank">www.responsibledrinking.eu</a><br/>
            to visit Hennessy, you must be of legal drinking and purchasing age within your location of residence.<br/>
            If no such laws exist in your location you have to be 21 to visit our site.<br/>
            Hennessy supports the responsible consumption of its products through Moët Hennessy, member of SpiritsEUROPE
            (<a href="" target="_blank">www.responsibledrinking.eu</a>), DISCUS (<a href="" target="_blank">www.discus.org</a>

        </div>
    </div>
</div>
<script src="../../public/js/jquery-1.9.1.js"></script>
<script src="../../public/js/ljx_enter.js"></script>
</body>
</html>