
<div id="login">
  <div id="close">
    <a href="javascript:void(0)"></a>
  </div>
  <div class="container w3layouts agileits">
    <div class="login w3layouts agileits" id="loginBox">
      <h2>登 录</h2>
      <form action=""  method="post">
        <input type="text" Name="Userame" placeholder="用户名" />
        <input type="password" Name="Password" placeholder="密码" />
      </form>
      <ul class="tick w3layouts agileits">
        <li>
          <input type="checkbox" id="brand1">
          <label for="brand1"><span></span>记住我</label>
        </li>
      </ul>
      <div class="send-button w3layouts agileits">
        <button type="button" name="login">登 录</button>
      </div>
      <p id="login_message"></p>
      <div class="clear"></div>
    </div>
    <div class="register w3layouts agileits" id="regBox">
      <h2>注 册</h2>
      <form action=""  method="post">
        <input type="text" Name="Name" placeholder="用户名" />
        <input type="password" Name="Password" placeholder="密码" />
        <input type="password" Name="rePassword" placeholder="确认密码" />
      </form>
      <div class="send-button w3layouts agileits">
        <button type="button" name="reg">免费注册</button>
      </div>
      <p id="zc_message"></p>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
